<template>
  <div class="contacts">
    <h1>Contacts</h1>
    <router-link to="/contacts/create">New</router-link>
    <div>
      {{ message }}
    </div>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(contact, index) in contacts" :key='index'>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <router-link :to="'/contacts/' + contact.id ">Show</router-link>
          <router-link :to="'/contacts/' + contact.id + '/update'">Update</router-link>
          <button @click="remove(contact.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'ContactsIndex',
    data () {
      return {
        contacts: [],
        message: ''
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/contacts')
          .then(response => {
            this.contacts = response.data
          })
      },

      remove (id) {
        axios.delete('http://localhost:8000/api/contacts/' + id)
          .then(response => {
            this.message = response.data

            this.contacts = this.contacts.filter(function (obj) {
              return obj.id !== id
            })
          })
          .catch(error => {
            this.message = error.data
          })
      }
    }

  }
</script>

<style>
  table {
    width: 100%;
  }
  tbody {
    text-align: left;
  }
  .contacts {
    border-top: 1px solid #dddddd;
  }
</style>
