<template>
  <div>
    <div>
      {{ message }}
    </div>
    <form v-on:submit.prevent="save">
      <p>Name: <input type="text" name="name" v-model="contact.name"></p>
      <p>Email: <input type="text" name="email" v-model="contact.email"></p>
      <p>Phone Number: <input type="text" name="phone_number" v-model="contact.phone_number"></p>
      <p>Cell Number: <input type="text" name="cell_number" v-model="contact.cell_number"></p>
      <p><input type="submit" value="Create"></p>
    </form>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'ContactsUpdate',

    data () {
      return {
        message: '',
        contact: {
          name: '',
          email: '',
          phone_number: '',
          cell_number: ''
        }
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/contacts/' + this.$route.params.id)
          .then(response => {
            this.contact = response.data
          })
      },
      save () {
        axios.put('http://localhost:8000/api/contacts/' + this.$route.params.id, {
          name: this.contact.name,
          email: this.contact.email,
          phone_number: this.contact.phone_number,
          cell_number: this.contact.cell_number
        })
        .then(response => {
          this.message = response.data
        })
        .catch(error => {
          this.message = error.data
        })
      }
    }
  }
</script>
